<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width:50;
            padding: 30px;
            background: #eeee;
        }
    </style>
</head>
<body>
    <div class="">
        <h1 data-th-text="${name}">Welcome to Home Page</h1>
        <p>youtube:<span data-th-text="${youtubechannel}"></span></p>
        <p>github:<span data-th-text="${githubrepo}"></span></p>
        <a data-th-href="${githubrepo}">click here to open</a>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, sunt cumque error consequuntur explicabo unde laudantium eos sed est, suscipit corporis reiciendis impedit. Tenetur tempora possimus nemo autem quod, quisquam aliquid veniam, ipsam blanditiis, enim nam minus inventore? Blanditiis eos minima ipsa vel laborum culpa, rerum porro at iure facere.</P>
    </div>
    
</body>
</html>